[ng-hover]:not (.select-bo-attr ):hover {
	text-decoration: none;
	background-color: #eee;
	border-color: #eee #eee #ddd;
}

input,textarea {
	padding: 2px;
}

.dot-line {
	width: 93%;
	border: 0.08em dotted gray;
	display: block;
}

.child-li-bd>li {
	height: 38px;
	padding: 9px;
	border: 1px solid #f5f5f5;
}

.child-li-bd>li:hover {
	background-color: #f5f5f5;
}

.no-border-top {
	border-top: none !important;
}

ul.nav.nav-tabs {
	margin: 1px 1px 0 1px;
}

th {
	text-align: center;
	vertical-align: middle !important;
}

.hover-pointer:focus {
	text-align: left;
	cursor: auto;
}

.groupplus,.gangeplus {
	float: right;
	height: 80%;
	width: 40px;
	padding-bottom: 10px;
	cursor: pointer;
}

input[type='checkbox']:checked ~label{
	color: #fff;
	background-color: #428BCA;
	border-color: #285e8e;
}

input[type='checkbox']:not (:checked )~label{
	background-color: #D3D3D3;
	color: white;
}

.combo {
	height: 100%;
	min-height: 30px;
	position: relative;
}

.combo>input {
	line-height: 20px;
	height: 100%;
	min-height: 30px;
	max-width: 90%;
}

.combo>span {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

.combo>span>span {
	height: 100%;
}

#layoutLeft,.layout-split-west {
	height: inherit !important;
}

#container {
	height: 80% !important;
	height:-moz-calc(100% - 200px) !important;
	height:-webkit-calc(100% - 140px) !important;
	height: calc(100% - 140px) !important;
	/*margin:5px 0 0 5px;*//*http://localhost:8080/x5/form/manager/edit?id=10000003881024*/
	/*width: 99% !important;*/http://localhost:8080/x5/form/manager/edit?id=10000003881024
	width:-moz-calc(100% - 10px) !important;
	width:-webkit-calc(100% - 10px) !important;
	/*width: calc(100% - 10px) !important;*/
}

#layoutCenter {
	overflow-x: hidden;
	margin-left:5px;
}

.layout-panel-west {
	background-color: transparent;
	border-right: none;
}

.layout-panel-center .ui-draggable {
	
}

.ui-sortable-placeholder {
	height: 45px !important;
}