<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2.5.xsd" version="2.5">
  <display-name>ibps-platform-raqsoft</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>/WEB-INF/runqianReport4.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/runqianReport4.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/runqianDm.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/runqianDm.tld</taglib-location>
    </taglib>
  </jsp-config>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>com.raqsoft.report.webutil.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>RootKeyServlet</servlet-name>
    <servlet-class>com.lc.ibps.platform.web.util.RootKeyServlet</servlet-class>
    <init-param>
      <param-name>webAppRootKey</param-name>
	  <param-value>webapp.root</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>SetContextServlet</servlet-name>
    <servlet-class>com.runqian.util.webutil.SetContextServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>reportServlet</servlet-name>
    <servlet-class>com.runqian.report4.view.ReportServlet</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/reportConfig.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>DMServlet</servlet-name>
    <servlet-class>com.raq.web.view.DMServlet</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/dmConfig.xml</param-value>
    </init-param>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>reportServlet</servlet-name>
    <url-pattern>/reportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DMServlet</servlet-name>
    <url-pattern>/DMServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DMServlet</servlet-name>
    <url-pattern>/DMServletAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>RaqsoftServlet</servlet-name>
    <servlet-class>com.lc.ibps.platform.servlet.RaqsoftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RaqsoftServlet</servlet-name>
    <url-pattern>/showReport</url-pattern>
  </servlet-mapping>
</web-app>