.foldBox {
	border-top: 2px solid #aeaaaa;
	clear: both;
	display: inline-block;
	margin: 10px 5px 5px;
	position: relative;
	width: 99%;
}

.foldBox a.drop {
	cursor: pointer;
	text-decoration: none;
}

.foldBox .title {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #464646;
	font-size: 14px;
	font-weight: bold;
	left: 12px;
	padding-left: 10px;
	padding-right: 15px;
	position: absolute;
	top: -15px;
}

.foldBox .content {
	margin: 12px 8px;
	padding: 10px;
}